:root {
  --color-primary: #018b9d;
  --color-secondary: #3f3d56;
  --color-primary-darker: #015661;
  --color-primary-opacity: #c1e2e7;
  --gradient-primary: linear-gradient(to top left, #018b9d, #015661);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  background-color: #f3f3f3;
}

a {
  text-decoration: none;
  color: #fff;
}

p {
  color: #666;
}

img {
  transition: filter 0.5s;
}

/* BUTTON */
.btn {
  display: inline-block;
  background-color: var(--color-primary);
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 500;
  border: none;
  padding: 0.7rem 3rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.3s;
  color: #ffff;
}

.btn:hover {
  background-color: var(--color-primary-darker);
}

button:focus {
  outline: none;
}

/* NAVIGATION */
.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 6rem;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.6);
}

.nav__logo {
  height: 4.5rem;
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__item {
}

.nav__link:link {
  font-size: 1.7rem;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
  margin-left: 40px;
}

.nav__link:hover {
  font-size: 1.8rem;
  margin-left: 34px;
}

.nav.sticky {
  position: fixed;
  background-color: var(--color-secondary);
}

/* HEADER */
.header {
  height: 700px;
  background: no-repeat url(img/header1.png);
  background-size: 100% 100%;
}

.header__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 40vmin;
  color: #eee;
  letter-spacing: 0.03em;
  line-height: 1;
}

.header__title h1 {
  font-size: 10vmin;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.8);
}

.header__title h4 {
  font-size: 4vmin;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.6);
}

/* SECTIONS */
.section {
  max-width: 1200px;
  transition: transform 1s, opacity 1s;
  margin: 6vh auto;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.section__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section__description {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-primary);
}

.section__header {
  font-size: 4rem;
  line-height: 1.3;
  font-weight: 500;
}

/* BENEFITS */
.benefits {
  display: flex;
}

.benefits__feature {
  align-self: center;
  width: 100%;
  font-size: 1.6rem;
  padding: 5vh;
}

.benefits__header {
  font-size: 2.25rem;
  margin-bottom: 1rem;
}

.benefits__img {
  width: 90%;
  height: 90%;
}

/* APP */
.app__header {
  font-size: 2.25rem;
  margin-bottom: 1rem;
}

/* INSURANCES*/
.insurances {
  background-color: #fff;
  margin: 5rem;
}

.insurances__tab-container {
  display: flex;
  justify-content: center;
}

.insurances__tab {
  margin-right: 2.5rem;
  transform: translateY(-50%);
}

.insurances__tab span {
  margin-right: 1rem;
  font-weight: 600;
  display: inline-block;
}

.insurances__tab--active {
  transform: translateY(-66%);
}

.insurances__content {
  display: none;
  font-size: 1.7rem;
  padding: 2.5rem 7rem 6.5rem 7rem;
}

.insurances__content--active {
  display: grid;
  grid-template-columns: 7rem 1fr;
  column-gap: 3rem;
  row-gap: 0.5rem;
}

.insurances__header {
  font-size: 2.25rem;
  font-weight: 500;
  align-self: center;
}

.insurances__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background-color: var(--color-primary-opacity);
}

.insurances__icon svg {
  height: 3.5rem;
  width: 3.5rem;
  fill: var(--color-secondary);
}

.insurances__content p {
  grid-column: 2;
}

/* TESTIMONIALS */
.testimonial {
  padding: 5vh;
}

.testimonial::before {
  content: '\201C';
  position: absolute;
  top: -2.7rem;
  left: 1rem;
  line-height: 1;
  font-size: 20rem;
  font-family: inherit;
  color: var(--color-primary);
  z-index: -1;
}

.testimonial__header {
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.testimonial__text {
  font-size: 1.7rem;
  margin-bottom: 3.5rem;
  color: #666;
}

.testimonial__author {
  margin-left: 3rem;
  font-style: normal;

  display: grid;
  grid-template-columns: 6.5rem 1fr;
  column-gap: 2rem;
}

.testimonial__photo {
  grid-row: 1 / span 2;
  width: 6.5rem;
  border-radius: 50%;
}

.testimonial__name {
  font-size: 1.7rem;
  font-weight: 500;
  align-self: end;
  margin: 0;
}

.testimonial__location {
  font-size: 1.5rem;
}

.section__title--testimonials {
  margin-bottom: 4rem;
}

/* FOOTER */
.footer {
  padding: 4rem;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__nav {
  width: 500px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.footer__item {
  margin-right: 4rem;
}

.footer__sub {
  font-size: 1.6rem;
  color: #eee;
  list-style: none;
}

.footer__subtitle {
  font-size: 1.8rem;
  color: #eee;
  list-style: none;
  margin-right: 4rem;
}

.footer__link {
  font-size: 1.6rem;
  color: #eee;
  text-decoration: none;
}

.footer__logo {
  height: 20rem;
  display: block;
  margin: 0 auto;
}

.footer__copyright {
  font-size: 1.4rem;
  color: #ffffff;
  text-align: center;
}

/* MODAL WINDOW */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  background-color: #f3f3f3;
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.modal__header {
  font-size: 3.25rem;
  margin-bottom: 4.5rem;
  line-height: 1.5;
}

.modal__form {
  margin: 0 3rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 2.5rem;
}

.modal__form label {
  font-size: 1.7rem;
  font-weight: 500;
}

.modal__form input {
  font-size: 1.7rem;
  padding: 1rem 1.5rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}

.modal__form button {
  grid-column: 1 / span 2;
  justify-self: center;
  margin-top: 1rem;
}

.btn--show-modal {
  background: var(--color-primary);
  margin: 2rem;
}

.btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

/* COOKIE MESSAGE */
.cookie-message {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 10vh;
  padding: 20px;
  background-color: #fff;
  color: #bbb;
  font-size: 1.5rem;
  font-weight: 400;
  position: fixed;
  top: auto;
  bottom: 0;
  z-index: 20;
}

/* RESPONSIVE */

@media screen and (max-width: 820px) {
  .header {
    height: 40vh;
    background: no-repeat url(img/header1.png);
  }
  .nav {
    flex-direction: column;
    align-items: center;
  }

  .nav .nav__links {
    flex-direction: column;
    margin-top: 1rem;
  }

  .benefits {
    flex-direction: column;
  }

  .insurances__tab-container {
    flex-direction: column;
  }

  .insurances__tab {
    margin: 0;
  }

  .insurances__content--active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .insurances__header {
    text-align: center;
  }
}
